@font-face {
  font-family: 'PT Sans', 'Arial', sans-serif;
  src: url('../fonts/PTSans.woff2') format('woff2');
  src: url('../fonts/PTSans-Bold.woff2') format('woff2');
  src: url('../fonts/PTSans.woff') format('woff');
  src: url('../fonts/PTSans-Bold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-dark: #333333;
  --basic-light-blue: #81B3D2;
  --basic-blue: #669EC0;
  --basic-dark-blue: #5496BD;
  --basic-light-brown: #766357;
  --basic-brown: #604E43;
  --basic-dark-brown: #503E33;
  --basic-light-grey: #F2F2F2;
  --basic-grey: #EEEEEE;
  --basic-dark-grey: #666666;
  --basic-bright-gray: #BDBBBC;
  --basic-special: #CACACA;
}

/* Global */

.page {
  height: 100%;
}

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-dark);
  background-color: var(--basic-light-grey);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Base classes */

.container {
  width: 1054px;
  margin: 0 auto;
  background-color: transparent;
}

.container-wide {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.header {
  background-color: var(--basic-white);
}

/* Main navigation */

.main-navigation {
  display: grid;
  justify-content: center;
  grid-template-areas:
  'menu logo menu';
  max-height: 56px;
}

.main-navigation-logo {
  grid-area: logo;
  z-index: 2;
  width: 138px;
  margin: 0 auto;
}

.site-navigation {
  list-style: none;
  padding: 0;

  grid-area: menu;
  display: grid;
  grid-template-columns: 127px 400px 400px 127px;
  justify-content: center;
  z-index: 1;
}

.site-navigation-item:first-child {
  margin-right: auto;
}
.site-navigation-item:last-child {
  margin-left: auto;
}

.site-navigation a {
  color: var(--basic-black);
  font-weight: bold;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-light-blue);
}
.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation-current a {
  color: var(--basic-light-brown);
}

/* Promo */

.promo {
  padding-bottom: 26px;
}
.promo img {
  background-color: var(--basic-light-blue);
}

.promo-subtitle {
  margin: 0;
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-black);
  max-width: 450px;
  margin: 30px auto 0;
}

/* Features */

/* features-list */

.features-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.features-item:nth-child(1) {
  display: grid;
  grid-templates-rows: 256px 330px;
  grid-template-columns: 400px 800px;
  grid-template-areas:
  'text-1 img-1'
  'icons icons';
}

.features-item-color-invert-1 {
  grid-area: text-1;
}
.features-item img:nth-child(1) {
  grid-area: img-1;
}

.features-sublist {
  grid-area: icons;
  display: grid;
  grid-template-columns: 327px 400px 327px;
  grid-template-rows: 330px;
  justify-content: center;
  align-items: center;
}


.features-item:nth-child(2) {
  display: grid;
  grid-template-columns: 800px 400px;
  grid-template-areas:
  'img-2 text-2';
}

.features-item:nth-child(2) img {
  grid-area: img-2;
}
.features-item-color-invert-2 {
  grid-area: text-2;
}

/* ------------------------------- */

.features-item-title {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.features-item-text {
  font-size: 14px;
  line-height: 21px;
}

.features-sublist {
  padding: 0;
  margin: 0;
  list-style: none;
}

.features-sublist-title {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.features-item img {
  background-color: var(--basic-light-brown);
}

.features-item-color-invert-1,
.features-item-color-invert-2 {
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
}

/* features-list-optional */

.features-list-optional {
  padding: 0;
  margin: 0;
  list-style: none;

  align-content: center;
  min-height: 256px;
  background-color: var(--basic-grey);
  display: grid;
  grid-template-columns: repeat(400px);
}
.features-optional-item:nth-child(1) {
  grid-column: 1 / 2;
}
.features-optional-item:nth-child(2) {
  grid-column: 2 / 3;
}
.features-optional-item:nth-child(3) {
  grid-column: 3 / 4;
}

/* Hotel search */

.hotel-search {
  padding-top: 60px;
}

.hotel-search-subtitle {
  margin: 0;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 30px;
}

.hotel-search-text {
  line-height: 24px;
  max-width: 450px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.hotel-search-map {
  background-color: var(--basic-dark-grey);
}

/* Page footer */

.page-footer {
  background-color: var(--basic-white);
  opacity: 0.9;
  display: grid;
  justify-content: center;
  grid-template-columns: 326px 400px 326px;
}

/* footer-contacts */

.footer-contacts-link,
.footer-contacts-text,
.footer-phone {
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

/* footer-social */

.social-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-item {
  background-color: var(--basic-light-blue);
}

.social-item:hover,
.social-item:focus {
  background-color: var(--basic-blue);
}

.social-item:active {
  background-color: var(--basic-dark-blue);
}

/* footer-copyright */

.footer-copyright-text {
  color: #000000;
}

.footer-copyright-logo img {
  display: none;
}

.footer-copyright-logo {
  display: inline-block;
  width: 115px;
  height: 41px;
  background: url('../img/logo/logo-htmlacademy.svg') no-repeat;
}

.footer-copyright-logo:hover,
.footer-copyright-logo:focus {
  background: url('../img/logo/logo-htmlacademy-hover.svg') no-repeat;
}
.footer-copyright-logo:active {
  background: url('../img/logo/logo-htmlacademy-active.svg') no-repeat;
}

/* Button */

.button {
  border: none;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  color: #FFFFFF;
  background-color: var(--basic-light-brown);
  vertical-align: middle;
}

.button:hover,
.button:focus {
  background-color: var(--basic-brown);
}
.button:active {
  background-color: var(--basic-dark-brown);
}
.button span:active {
  opacity: 0.3;
}

/*-------------------catalog----------------------*/

/* Hotel filters */

.hotel-filters {
  background-color: var(--basic-blue);
  padding-top: 30px;
}

.hotel-filters-form {
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

.filter-infrastructure {
  grid-column: 1 / 2;
}

.filter-housing {
  grid-column: 1 / 2;
}

.filter-price {
  position: relative;
  bottom: 63px;
  grid-column: 2 / 3;
}

.filter-btn-show {
  grid-column: 2 / 3;
  width: 137px;
  margin: 0 auto;
  position: relative;
  bottom: 30px;
}

.hotel-sort-wrapper {
  display: grid;
  grid-template-columns: 163px 115px 1fr max-content;
  align-items: center;
  padding-top: 34px;
}

.sort-result {
  grid-column: 1 / 2;
  margin-right: auto;
}
.hotel-catalog-subtitle {
  grid-column: 2 / 3;
}
.hotel-catalog-sort-list {
  grid-column: 3 / 4;
}
.hotel-catalog-controls {
  grid-column: 4 / 5;
}

.hotel-filters-form input {
  font: inherit;
  background-color: transparent;
}

.hotel-filters-subtitle {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  color: #FFFFFF;
}

.hotel-filters-item {
  line-height: 21px;
  color: #FFFFFF;
}

.filter-btn-show {
  font: inherit;
  line-height: 21px;
  color: #FFFFFF;
  outline: 2px solid var(--basic-white);
  outline-offset: -2px;
  background-color: transparent;
}

.filter-btn-show:hover,
.filter-btn-show:focus,
.filter-btn-show:active {
  color: #000000;
  background-color: var(--basic-white);
}

/* Hotel catalog */

.hotel-catalog-list {
  display: grid;
  grid-tempale-rows: repeat(3, 90px);
}

.hotel-catalog-item {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: max-content max-content max-content auto 110px;
  padding: 30px 0;
  column-gap: 6px;
  row-gap: 12px;
}

.hotel-catalog-item-title,
.hotel-catalog-item-name,
.hotel-catalog-item-price,
.hotel-catalog-item-rank {
  margin: 0;
}

.hotel-catalog-item img {
  margin-right: 23px;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.hotel-catalog-item-title {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  margin-top: -5px;
  max-width: 560px;
}

.hotel-catalog-item-name {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  max-width: 363px;
}

.hotel-catalog-item-price {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  max-width: 246px;
}

.hotel-catalog-item-rank {
  grid-column: 5 / 6;
  grid-row: 3 / 4;
  align-self: end;
}

.hotel-catalog-item-more {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  align-self: end;
  max-width: 220px;
}

.hotel-catalog-item-reservation {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  align-self: end;
  max-width: 220px;
}

.sort-result {
 font-weight: bold;
 font-size: 21px;
 line-height: 26px;
 color: #000000;
}

.hotel-catalog-subtitle {
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  color: #000000;
}

.hotel-catalog-sort-item {
  text-align: left;
  list-style: none;
}

.hotel-catalog-sort-item a {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
  border-bottom: 1px solid var(--basic-light-blue);
  border-bottom-style: dotted;
}

.hotel-catalog-sort-item a:hover,
.hotel-catalog-sort-item a:focus {
  color: var(--basic-light-blue);
  opacity: 1;
}

.hotel-catalog-sort-item a:active {
  color: var(--basic-black);
  border-bottom: none;
}

.hotel-catalog-sort-list {
  padding: 0;
  margin: 0;
  list-style: 0;
}

.selected-sort-item a {
  color: var(--basic-light-blue);
  border-bottom: none;
  opacity: 1;
}

.hotel-catalog-list {
  padding: 0;
  margin: 0;
  list-style: 0;
  text-align: left;
}

.hotel-catalog-item {
  list-style: none;
}

.hotel-catalog-item-title a {
  font-weight: bold;
  font-size: 21px;
  text-align: left;
  color: #000000;
}

.hotel-catalog-item-title a:hover,
.hotel-catalog-item-title a:focus {
  color: var(--basic-light-blue);
}

.hotel-catalog-item-title a:active {
  opacity: 0.3;
}

.hotel-catalog-item-name,
.hotel-catalog-item-price {
  line-height: 21px;
  text-align: left;
}

.hotel-catalog-item-rank {
  line-height: 21px;
  text-align: right;
  color: #666666;
  background-color: var(--basic-light-grey);
}

/* Hotel catalog links */

.hotel-catalog-item-more,
.hotel-catalog-item-reservation {
  font-weight: bold;
  line-height: 21px;
  color: #FFFFFF;
  background-color: var(--basic-light-blue);
  opacity: 1;
}

.hotel-catalog-item-reservation {
  background-color: var(--basic-light-brown);
}

/* Hotel catalog links-action */

.hotel-catalog-item-more:hover,
.hotel-catalog-item-more:focus {
  background-color: var(--basic-blue);
}
.hotel-catalog-item-more:active {
  background-color: var(--basic-dark-blue);
}
.hotel-catalog-item-more span:active {
  opacity: 0.3;
}

.hotel-catalog-item-reservation:hover,
.hotel-catalog-item-reservation:focus {
  background-color: var(--basic-brown);
}
.hotel-catalog-item-reservation:active {
  background-color: var(--basic-dark-brown);
}
.hotel-catalog-item-reservation span:active {
  opacity: 0.3;
}
